TodoLockInfo.theme/Bundles/cx.ath.the-kenny.TodoPlugin/icon.png
TodoLockInfo.theme/Bundles/cx.ath.the-kenny.TodoPlugin/plugin.css
TodoLockInfo.theme/Bundles/cx.ath.the-kenny.TodoPlugin/plugin.js
TodoPlugin
TodoPlugin.o