div.todo .header
{
	background-position: 2px -1px;
	background-repeat: no-repeat;
	background-image:url(icon.png);
	padding-left: 22px;
}

div.todo .summary {
  height: auto;
}

div.todo li.summary {
  line-height: 18px;
}

